// Author: Jairo Caro-Accino Viciana
// e-mail: kidandcat@gmail.com


extends layout

block content
  div(class="hidder1", id="hidder1")
      img(src="/images/bg.png", style="width:100%;height:100%;position: fixed")
      div(id='listener1')
        p(class="centerred", style="margin-top:-1.1em;") Username
        input(type="text", class="centerred", id="nameLogin", maxlength="25")
        p(class="centerred2", style="margin-top:-1.1em;") RoomName
        input(type="password", class="centerred2", id="nameLogin2", maxlength="25")
  div(id="gray")
  div(class="hidder2", id="hidder2")


   div(class="noprof", style="float:left;")
    p
    p <&#33;-- Code Society -->
    div(id="theVote")
    button(type="button", id="yesButton", onclick="socket.emit('voting', { msg: 'yes' });", style="display:none") Vote Yes
    button(type="button", id="noButton", onclick="socket.emit('voting', { msg: 'no' });", style="display:none") Vote No
    div(id='target1')  Loading...
    div(id='privateListener')
      input(type='text', id='private')
      button(type='button', id='sendPrivate', onclick='$(\'#send\').val("/sendto*"+$(\'#privateUser\').val()+"*"+$(\'#private\').val());setTimeout(function(){sendAll(); $(\'#send\').val(\'\')},500);$(\'#private\').val(\'\')') Send to
      input(type='text', id='privateUser', value='User', size='8')
    div(id='listener')
      input(type='text', id='send')
      button(type='button', id='sendallbutton', onclick='sendAll(); $(\'#send\').val(\'\')', disabled) Send
      div(id='writting') |
    div(id='area2', readonly='readonly')
     div(id='area', readonly='readonly')
    form(enctype="multipart/form-data")
           input(type="file", name="file", id="file")
           input(id="uploadbutton" type="button", name="submit", value="Subir")
    progress
    button(type="button", onclick="openBackWindow('http://vps115822.ovh.net/files','The mini Pirate Bay')") Archivos
    input(type="text", id="deleteName", style="display:none;")
    input(type="button", id="deleteButton",value="delete",style="display:none;")
    div(id="show", class="show")
      div(onclick="priv()") Private
      div(onclick="ban()") Ban
      div(onclick="document.getElementById('show').style.display = 'none'") Nothing
   div(id="prof", style="float:left;margin-left:1.5625em;margin-top:1.5625em")
    div(id='listenerEditor')
     div(id="editor", style="width:31.25em;height:31.25em;opacity: 0.75;border-radius:1.5625em;margin-right:0.9375em")
      p Max 100000 chars
   div(class="noprof", style="float:left;margin-top:1.5625em")
      div(id='roomstab', verticalScrollPolicy='on', readonly)
  script(type='text/javascript', src="/alertify.js")
  script(type='text/javascript', src="/socket.io/socket.io.js")
  script(type='text/javascript', src="/ace.js")
  script(type='text/javascript', src="/client.js")
