// Author: Jairo Caro-Accino Viciana
// e-mail: kidandcat@gmail.com


extends layout

block content
  div(class="hidder1", id="hidder1")
      img(src="/images/bg.png", style="width:100%;height:100%;position: fixed")
      div(id='listener1')
        input(type="text", class="centerred", id="nameLogin", maxlength="25")
        input(type="password", class="centerred2", id="nameLogin2", maxlength="25")
  div(id="gray")
  div(class="hidder2", id="hidder2")
   div(class="noprof")
    div(id='roomstab', verticalScrollPolicy='on', readonly)
   div(id="prof")
    div(id='listenerEditor')
     div(id="editor", style="width:500px;height:500px;float:right;opacity: 0.75;border-radius:25px;margin-right:15px")
         p Max 100000 chars
   div(class="noprof")
    p
    p -- Code Society --
    div(id="theVote")
    button(type="button", id="yesButton", onclick="socket.emit('voting', { msg: 'yes' });", style="display:none") Vote Yes
    button(type="button", id="noButton", onclick="socket.emit('voting', { msg: 'no' });", style="display:none") Vote No
    div(id='target1')  Loading...
    div(id='privateListener')
      input(type='text', id='private')
      button(type='button', id='sendPrivate', onclick='$(\'#send\').val("/sendto*"+$(\'#privateUser\').val()+"*"+$(\'#private\').val());setTimeout(function(){sendAll(); $(\'#send\').val(\'\')},500);$(\'#private\').val(\'\')') Send to
      input(type='text', id='privateUser', value='User', size='8')
    div(id='listener')
      input(type='text', id='send')
      button(type='button', id='sendallbutton', onclick='sendAll(); $(\'#send\').val(\'\')', disabled) Send
      div(id='writting') |
    div(id='area2', readonly='readonly')
     div(id='area', readonly='readonly')
    form(enctype="multipart/form-data")
           input(type="file", name="file", id="file")
           input(id="uploadbutton" type="button", name="submit", value="Subir")
    progress
    button(type="button", onclick="openBackWindow('http://vps115822.ovh.net:443/files','The mini Pirate Bay')") Archivos
    button(type="button", onclick="$('#editor').toggle();$('#canvas').toggle();") Mario
    input(type="text", id="deleteName", style="display:none;")
    input(type="button", id="deleteButton",value="delete",style="display:none;")
    canvas(id="canvas", width="640", height="480", style="display:none;top:20px;left:50%;width:500px;height:500px;float:right;position:absolute;border-radius:25px")
    div(id="show", class="show")
      div(onclick="priv()") Private
      div(onclick="ban()") Ban
      div(onclick="document.getElementById('show').style.display = 'none'") Nothing
  script(type='text/javascript', src="/alertify.js")
  script(type='text/javascript', src="/socket.io/socket.io.js")
  script(type='text/javascript', src="/ace.js")
  script(src='/javascripts/enjine.min.js')
  script(src='/javascripts/mario.min.js')
  script(type='text/javascript', src="/client.js")
