doctype html
html
  head
    title= '$11@W - D@W'
    link(rel='stylesheet', href='/stylesheets/stylemain.css')
    link(rel='stylesheet', href='/stylesheets/alertify.core.css')
    link(rel='stylesheet', href='/stylesheets/alertify.default.css')
    script(src='/jquery-2.1.1.min.js')
  body
    block content
