/*
* Author: Jario Caro-Accino Viciana
* e-mail: kidandcat@gmail.com
*/

body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F2F2F2;*/
  background: url(/images/qwe.jpeg) no-repeat center center fixed;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: 0px;
  background-size: 100%;
  /*overflow: hidden;*/
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.show {
	z-index: 1000;
	position: absolute;
	background-color: #C0C0C0;
	border: 1px solid blue;
	padding: 0.125em;
	display: none;
	margin: 0;
	list-style-type: none;
	list-style: none;
}



a {
  color: #00B7FF;
}

.hidder1 {
  position: fixed;
  margin-left: -0.5em;
  width: 110%;
  height: 100%;
  display: block;
}

.centerred {
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centerred2 {
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidder2 {
  width: 100%;
  height: 100%;
  display: none;
}

#area {
	width: 570px;
	height: 340px;
	border: 1px solid black;
	overflow-y: scroll;
	border-radius: 0px 25px 25px 25px;
	overflow: auto;
}

#area2 {
	width: 35.625em;
	height: 21.25em;
	border: 1px solid black;
	overflow-y: scroll;
	background-color: #002451;
	opacity: 0.75;
	border-radius: 0em 1.5625em 1.5625em 1.5625em;
	overflow: hidden;
}

#roomstab {
  isplay: inline-block;
	width: 12.5em;
	height: 22.5em;
	opacity: 0.75;
	border-radius: 0em 1.5625em 1.5625em 1.5625em;
	overflow-y: hidden;
	background-color: #002451;
}

#privateListener {
	position: fixed;
  	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
	background-color:#848484;
	display: none;
	width: 25em;
	height: 6.875em;
	border: solid 0.25em;
	border-radius: 0.5em;
	padding-top: 5%;
	text-align: center;
	z-index: 1000;
}

#gray {
	display: none;
	background-color: #848484;
	opacity: 0.4;
	position: fixed:
	width: 125em;
	height: 125em;
}

.tabler
{
	width: 6.125em;
	height: 2em;
}

.table1
{
	width: 1.875em;
	height: 1.875em;
	float: left;
	border:1px solid black;
}
